@tailwind base;
@tailwind components;
@tailwind utilities;



.navbar{
  width: 100%;
  position: fixed;
  top: 0px;
}
.slider, .sponsor{
  position: relative;
  z-index: -1;
  top: 30px;
}
.popular-classes{
  position: relative;
  z-index: -1;
}
/* .signup, .login{
  position: relative;
  z-index: -1;
  top: 100px;
} */
.popular-instructors{
  position: relative;
  z-index: -1;
}
.classes,.instructors{
  position: relative;
  z-index: -1;
  top: 85px;
  margin-bottom: 125px;
}

.drawer-side a.active {
    color: rgb(10, 226, 111);
    background-color: beige;
  }
  .active{
    background-color: none;
  }
  a.active {
    color: white;
    border-bottom: 2px solid white;
    background-color: none;
    border-radius: none;
  }

  .btn:hover{
    background-color: #A2FF86;
  }

/*dashboard related components styling... */
 .manageclasses{
  padding: 10px;
  width: 100%;
  position: relative;
  top: 10px;
  z-index: -1;
}
.manageusers, .manageclasses{
  padding: 20px;
  width: 97%;
  margin-left: 15px;
  position: relative;
  top: 10px;
  z-index: -1;
}

  .sidebar-head {
    @apply flex flex-col overflow-y-auto duration-300 ease-linear;
  }
  .sidebar-nav {
    @apply py-4 px-4 lg:mt-2 lg:px-6;
  }
  
  .sidebar-menu-item {
    @apply relative flex items-center gap-3 rounded-sm py-2 px-4 font-medium text-black  hover:bg-slate-300 duration-300 ease-in-out dark:text-bodyDark1 dark:hover:bg-meta-4;
  }
  
  .sidebar-submenu-item {
    @apply relative flex items-center gap-3 rounded-sm py-2 px-12 font-medium duration-300 ease-in-out text-black hover:bg-slate-300 dark:text-bodyDark1  dark:hover:bg-meta-4;
  }
  

