@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar{
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}
.navbar li{
  /* padding: 20px 20px; */
}
.navbar ul li a{
  margin: auto;
}
.slider, .sponsor{
  position: relative;
  top: 30px;
}
/* .signup{
  position: relative;
  z-index: -9;
  top: 100px;
  margin-bottom: 150px;
} */

.classes,.instructors{
  position: relative;
  top: 85px;
  margin-bottom: 125px;
}

.drawer-side a.active {
    color: rgb(10, 226, 111);
    background-color: beige;
  }
  .sidebar a.active{
    color: black;
    border-bottom: 2px solid white;
    font-weight: bolder;
  }
 .navbar a.active{
    font-weight: bold;
    width: 100%;
    background-color: none;
    border-radius: none;
    box-shadow: none;
    background: #164BF7 ;
    border: none;
  }

  .btn:hover{
    background-color: #164BF7;
  }
  .input:focus{
    border: 2px solid #200E3A;
  }

/*dashboard related components styling... */
.dashboard-header{
  position: fixed;
  top: 0px;
  z-index: 10;
}

/* .manageusers, .manageclasses{
  width: 97%;
  margin-left: 15px;
  position: relative;
  top: 10px;
  z-index: -1;
  border-radius: 10px;
} */
.addaclass{
  position: relative;
  top: 100px;
}
.updateclass{
  position: relative;
  top: 80px;
  left: 90px;
  margin-bottom: 130px;
}
.myclasses{
  width: 100%;
  padding: 0;
}

/*more dashboard tailwind short css */
  .sidebar-head {
    @apply flex flex-col overflow-y-auto duration-300 ease-linear;
  }
  .sidebar-nav {
    @apply py-4 px-4 lg:mt-2 lg:px-6;
  }
  
  .sidebar-menu-item {
    @apply relative flex items-center gap-3 rounded-sm py-2 px-4 font-medium text-black  hover:bg-slate-300 duration-300 ease-in-out dark:text-bodyDark1 dark:hover:bg-meta-4;
  }
  
  .sidebar-submenu-item {
    @apply relative flex items-center gap-3 rounded-sm py-2 px-12 font-medium duration-300 ease-in-out text-black hover:bg-slate-300 dark:text-bodyDark1  dark:hover:bg-meta-4;
  }
  

